@charset "utf-8";

.estilo{
	background-color:#000;
}
#DivCorpoApp{
	position:absolute;
	top:50%;
	left:50%;
	width:500px;
	height:300px;
	margin-left:-250px;
	margin-top:-150px;
	text-align:center;
	}
	
#DivTabela{
	max-width:450px;
	min-width:100px;
	min-height:200px;
	margin-left: auto;
    margin-right: auto;
	background-color:#CCC;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	 border-radius:10px;
	 padding:10px;
	}
#DivTabelaLinha{
	border-top:#000;
	border-color:#000;
	height:45px;
	background-color:#666;
	vertical-align:middle;
	}

#DivTabelaColunaVaga{
	float:left;
	width:50%;
	min-width:60px;
	background-color:#CCC;
	height:43px;
	margin-top:1px;
	vertical-align:middle;
	}
	
#DivTabelaColunaInfo{
	float:left;
	width:25%;
	background-color:#999;
	height:43px;
	margin-top:1px;
	vertical-align:middle;
	}
	
#DivTabelaColunaInfoAdc{
	float:right;
	width:25%;
	height:43px;
	background-color:#CCC;
	margin-top:1px;	
	text-align:center;
	vertical-align:middle;
	}
	
.imgMapa{
	width:35px;
	height:35px;
	margin:auto;
	margin: 2%;
	}
	
.vagasN{
	color:#F00;
	text-align:center;
	vertical-align:middle;
	margin:0;
	padding:auto;
	font-size:25px;
	font-style:oblique;
	font-family:"Times New Roman", Times, serif;
	}

.vagasL{
	color:#090;
	text-align:center;
	vertical-align:middle;
	margin:0;
	padding:auto;
	font-size:25px;
	font-style:oblique;
	font-family:"Times New Roman", Times, serif;
	}

.TituloArea{
	padding:0;
	margin:0;
	font-size:xx-large;

	}
.SubTituloArea{
	padding:0;
	margin:0;
	font-size:x-large;
	text-align:left;
	padding-left:15px;
}

.SubTituloDescricao{
	padding:0;
	margin:0;
	font-size:x-large;
	text-align:left;
	padding-left:15px;
	color: white;
	background: gray;
}

.button {
	border-top: 1px solid #dedede;
	background: #a8a8a8;
	background: -webkit-gradient(linear, left top, left bottom, from(#383838), to(#a8a8a8));
	background: -webkit-linear-gradient(top, #383838, #a8a8a8);
	background: -moz-linear-gradient(top, #383838, #a8a8a8);
	background: -ms-linear-gradient(top, #383838, #a8a8a8);
	background: -o-linear-gradient(top, #383838, #a8a8a8);
	padding: 6px 12px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 18px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
   }
.button:hover {
	border-top-color: #a8a8a8;
	background: #a8a8a8;
	color: #ccc;
   }
.button:active {
	border-top-color: #a3a3a3;
	background: #a3a3a3;
   }
   
   
#DivCorpoWeb{
	width:100%;
	height:100%;
	margin-left:auto;
    margin-right:auto;
	}


#TbListaArea{
	width:80%;
	text-align:center;
	margin-left: auto;
    margin-right: auto;
	border-style:hidden;	
}
   
#areIncluir{
	text-align:left;
	padding-top:20px;
	margin-top:15px;
	margin-left:5px;
	font-size:16pt;
}